---
import Questions from '@components/Questions.vue';

import Layout from '../../layouts/Layout.astro';
---


<Layout title="Welcome to survey.">
    <div>
        <Questions />
    </div>
</Layout>

