---
// import Astro from "@router/index";

// clientAddress
const {cookies,params,props,locals,request,url,redirect,response,slots,self} = Astro;
export const prerender = true;
export async function get() {
  return {
    body: JSON.stringify({ message: `Este es mi endpoint estático` }),
  };
}
// redirect('index')
// console.log(redirect('index'));
function onLoad(){
  console.log("Antes de entrar a la página");
};

// const message = Astro.request.url

 // Este es el punto de entrada del sitio web Astro
 function handleMount() {
      console.log('El sitio web se ha montado');
    }

    // Este es un hook opcional que se ejecuta antes de que el sitio web se monte
    function beforeMount() {
      console.log('Antes del montaje del sitio web');
    }

    // Este es un hook opcional que se ejecuta después de que el sitio web se ha montado
    function afterMount() {
      console.log('Después del montaje del sitio web');
    }
    async function getNum(){
                const data = await fetch("https://www.random.org/integers/?num=1&min=1&max=6&col=1&base=10&format=plain&rnd=new")
                const num =  await data.json()
                console.log(num);
                return num
                
        }

    function validate(num){
        return num%2 === 0
    }

    const num = await getNum() //Math.round(Math.random()*100)

    if(validate(num))
        return redirect('/')
---


<pre >
        esta sera la encuesta {url} {params.slug} {num}
</pre>

<button @click="logMessage">
asssssss
</button>