---

import Service from '../../sevices/service';

const { id } = Astro.params;
let result : any;

async function validation(idUrl :any) {
  try {
    const { data } = await Service.validateAccess({id: idUrl});
    console.log(data);
    return data;
  } catch (error) {
    console.log(error);
  } 
}

result = await validation(id);

if(result?.access){
  // localStorage.setItem('clave', 'test');
  return Astro.redirect('/survey');
}


---

<h3>ID de la URL: {id}</h3>
<p>RESULT : {result?.access}</p>

   